</main>

<footer>
   <% const currentYear = new Date().getFullYear(); %>
    <div class="bottom">  
        <div class="bottom_text">
            <p>© <%= currentYear %> ThoughtLog. Designed and developed by Gautam.</p>
        </div>  
    </div>
</footer>
</body>
</html>