<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <title>header</title>
</head>
<body>
    <header>
        <section id="navbar">
            <div class="navbar_div">
                <div class="left_nav parts_nav">
                    <a href="#">ThoughtLog 💭</a>
                </div>
                <div class="right_nav parts_nav">
                    <a href="/sign_in">Sign in</a>
                    <a href="/about">About us</a>
                </div>
            </div>
        </section>
    </header>
  <main>
