<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/about.css">
    <title>About Us</title>
</head>
<body>
    
    <div class="about">
        
    <div class="title">
        <h1>About Us</h1>
    </div>
    <div class="about_text">
        <p>Welcome to our blog — a space where creativity meets expression!
        
            We’re passionate about sharing thoughts, ideas, stories, and knowledge across a wide range of topics. Whether you're here to learn something new, find inspiration, or just enjoy a good read, you’re in the right place.
            
        Our mission is to create a community of curious minds who love to explore and express themselves. Every blog post you find here is a product of passion, curiosity, and the desire to connect with others.
        
        Thanks for stopping by — and happy reading!</p>
    </div>
    <div class="socials">
        <h2>Connect with us:</h2>
        <div class="slinks">
            <a href="https://www.instagram.com/gautam15_07/" target="_blank"><img src="./images/insta.png" alt="Insta icon" height="50px"></a>
            <a href="https://www.linkedin.com/in/gautam-modi-4b36b0301/" target="_blank"><img src="/images/linkdin.png" alt="linkdin icon" height="50px"></a>
            <a href="mailto:mg9328546@gmail.com"><img src="/images/gmail.png" alt="gmail icon" height="50px"></a>
        </div>
    </div>
</div>
</body>
</html>
