<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/options.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Submit</title>
</head>
<body>
    <div class="main">
        <div class="title">
            <h1>🎉 Hooray! Your blog was successfully submitted. You can find it listed among the posts. Stay creative!</h1>
        </div>
        <div class="select">     
            <p>Click here to view your post: <a href="/browsepost">Your Blog</a></p>
            <p>Ready to share more thoughts? <a href="/create">Create Another Blog</a></p>
        </div>
    </div>
    
</body>
</html>
