<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/options.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Submit</title>
</head>
<body>
    <div class="main">
        <div class="title">
            <h1>Your blog was successfully submitted. You can find it listed among the posts. Stay creative!</h1>
        </div>
        <div class="select">     
            <div class="checkblog">
                <a href="/browsepost">Manage Blogs</a>
            </div>
            <div class="create_blog">
                <a href="/create">Create Blog</a>
            </div>
            <div class="edit_blog">
                <a href="/create?edit=true">Edit Blog</a>
            </div>
            
        </div>
    </div>
    
</body>
</html>
