body {
  background: radial-gradient(circle, #5290c9, #a1c8e3);
  height: 100vh;
  margin: 0;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.dummy_blog,
.written_blog {
  padding-left: 1%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.dummy_blog h2,
.written_blog h2 {
  font-family: "Playfair Display", serif;
  transition: all 0.4s linear;
}
.blog-post,
.detail_blog {
  padding-left: 1%;
  transition: all 0.4s linear;
  border: 2px solid white;
  border-radius: 6px;
  margin: 20px;
  padding: 20px;
}
.blog-post:hover,
.detail_blog:hover {
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 0px 20px white;
}
.blog-post:hover h2{
  color: white;
}
.moti-stat {
  text-align: center;
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
@media (min-width:400px) and (max-width: 600px) {
  .title {
    font-size: 0.9rem;
  }
  .dummy_blog,
  .written_blog {
    padding-left: 1%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .dummy_blog h2,
  .written_blog h2 {
    font-family: "Playfair Display", serif;
  }
  .blog-post,
  .detail_blog {
    transition: none;
    border: 2px solid white;
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 20px white;
  }
  .blog-post:hover,
  .detail_blog:hover {
   border-radius: 10px;
    margin: 20px;
    padding: 50px;
  }
  .moti-stat {
    text-align: center;
    padding: 10px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .blog-post:hover h2{
  color: black;
}
}
@media (max-width: 400px) {
  .title {
    font-size: 0.8rem;
  }
  .dummy_blog,
  .written_blog {
    padding-left: 1%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
  }
  .dummy_blog h2,
  .written_blog h2 {
    font-family: "Playfair Display", serif;
  }
  .blog-post,
  .detail_blog {
    transition: none;
    border: 2px solid white;
   margin: 20px;
    padding: 50px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 20px white;
  }
  .blog-post:hover,
  .detail_blog:hover {
   border-radius: 10px;
    margin: 20px;
    padding: 50px;
  }
  .moti-stat {
    text-align: center;
    padding: 10px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 0.6rem;
  }
  .blog-post:hover h2{
  color: black;
}
}
