body {
  background: radial-gradient(circle, #5290c9, #a1c8e3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main {
  text-align: center;
  font-family: "Playfair Display", serif;
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 90%;
  height: 90%;
  transition: all 0.3s ease-in-out;
}
.main .title {
  font-size: 2rem;
  align-self: center;
}
.create_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  text-align: left;
}
.create_form label {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.create_form input[type="text"],
.create_form textarea {
  font-weight: 600;
  width: 100%;
  padding: 12px;
  margin-top: 0.6%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.6%;
  font-size: 1.2rem;
  border: 1.6px solid white;
  border-radius: 6px;
  background-color: transparent;
  resize: vertical;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.create_form input[type="datetime-local"] {
  width: 20%;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  border: white solid 2px;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5%;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.create_form input:focus,
.create_form textarea:focus {
  border-color: black;
  border: none;
  border-bottom: #000000 2px solid;
  outline: none;
  border-radius: 10px;
}
.create_form .btn {
  text-align: center;
}
.create_form button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1%;
  padding: 12px 30px;
  cursor: pointer;
  align-self: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 6px 6px 10px black;
  transition: all 0.3 ease-in-out;
}
.create_form button:hover {
  box-shadow: 2px 2px 6px white;
}
.create_form button:active {
  transform: scale(0.97);
  background-color: white;
}
@media (max-width: 600px) {
  .main {
    width: 90%;
    height: 95%;
  }
  .main .title {
    font-size: 0.7rem;
    align-self: center;
  }
 
  .create_form label {
    font-size: 0.8rem;
    
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 0.7rem;
    border: 1.2px solid white;
    transition: none;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    padding: 12px;
    font-size: 0.7rem;
    font-weight: 600;
    border: white solid 1.2px;
    margin-top: 0.5%;
    margin-bottom: 1.2%;
    transition: none;
  }
  .create_form input:focus,
  .create_form textarea:focus {
    border-color: white;
    border: white solid 1.2px;
    border-radius: 6px;
  }
  .create_form button {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.2%;
    margin-top: 1.2%;
    border: 1.2px solid white;
    
    transition: none;
  }
  .create_form button:hover {
    box-shadow: none;
  }
  .create_form button:active {
    transform: scale(0.97);
    background-color: white;
  }
}
@media (min-width: 600px) and (max-width: 830px) {
  .main .title {
    font-size: 1.15rem;
  }

  .create_form label {
    font-size: 0.9rem;
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 0.9rem;
    border: 1.2px solid white;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    font-size: 0.9rem;
    border: white solid 1.2px;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }
  .create_form button {
    font-size: 0.9rem;
    margin-bottom: 0.5%;
    border: 1.2px solid white;
  }
}
@media (min-width: 830px) and (max-width: 1030px) {
  .main .title {
    font-size: 1.6rem;
  }

  .create_form label {
    font-size: 1.1rem;
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 1.1rem;
    border: 1.4px solid white;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    font-size: 1.1rem;
    border: white solid 1.5px;
    margin-bottom: 0.5%;
    border-radius: 6px;
  }

  .create_form button {
    font-size: 0.9rem;
  }
}
body {
  background: radial-gradient(circle, #5290c9, #a1c8e3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main {
  text-align: center;
  font-family: "Playfair Display", serif;
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 90%;
  height: 90%;
  transition: all 0.3s ease-in-out;
}
.main .title {
  font-size: 2rem;
  align-self: center;
}
.create_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  text-align: left;
}
.create_form label {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.create_form input[type="text"],
.create_form textarea {
  font-weight: 600;
  width: 100%;
  padding: 12px;
  margin-top: 0.6%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.6%;
  font-size: 1.2rem;
  border: 1.6px solid white;
  border-radius: 6px;
  background-color: transparent;
  resize: vertical;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.create_form input[type="datetime-local"] {
  width: 20%;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  border: white solid 2px;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5%;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.create_form input:focus,
.create_form textarea:focus {
  border-color: black;
  border: none;
  border-bottom: #000000 2px solid;
  outline: none;
  border-radius: 10px;
}
.create_form .btn {
  text-align: center;
}
.create_form button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1%;
  padding: 12px 30px;
  cursor: pointer;
  align-self: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 6px 6px 10px black;
  transition: all 0.3 ease-in-out;
}
.create_form button:hover {
  box-shadow: 2px 2px 6px white;
}
.create_form button:active {
  transform: scale(0.97);
  background-color: white;
}
@media (max-width: 600px) {
  .main {
    width: 90%;
    height: 95%;
  }
  .main .title {
    font-size: 0.7rem;
    align-self: center;
  }
 
  .create_form label {
    font-size: 0.8rem;
    
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 0.7rem;
    border: 1.2px solid white;
    transition: none;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    padding: 12px;
    font-size: 0.7rem;
    font-weight: 600;
    border: white solid 1.2px;
    margin-top: 0.5%;
    margin-bottom: 1.2%;
    transition: none;
  }
  .create_form input:focus,
  .create_form textarea:focus {
    border-color: white;
    border: white solid 1.2px;
    border-radius: 6px;
  }
  .create_form button {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.2%;
    margin-top: 1.2%;
    border: 1.2px solid white;
    
    transition: none;
  }
  .create_form button:hover {
    box-shadow: none;
  }
  .create_form button:active {
    transform: scale(0.97);
    background-color: white;
  }
}
@media (min-width: 600px) and (max-width: 830px) {
  .main .title {
    font-size: 1.15rem;
  }

  .create_form label {
    font-size: 0.9rem;
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 0.9rem;
    border: 1.2px solid white;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    font-size: 0.9rem;
    border: white solid 1.2px;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }
  .create_form button {
    font-size: 0.9rem;
    margin-bottom: 0.5%;
    border: 1.2px solid white;
  }
}
@media (min-width: 830px) and (max-width: 1030px) {
  .main .title {
    font-size: 1.6rem;
  }

  .create_form label {
    font-size: 1.1rem;
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 1.1rem;
    border: 1.4px solid white;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    font-size: 1.1rem;
    border: white solid 1.5px;
    margin-bottom: 0.5%;
    border-radius: 6px;
  }

  .create_form button {
    font-size: 0.9rem;
  }
}
