body {
  background: radial-gradient(circle, #5290c9, #a1c8e3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.outerdiv {
  height: 100%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}
.main {
  text-align: center;
  font-family: "Playfair Display", serif;
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 90%;
  height: 90%;
  transition: all 0.3s ease-in-out;
}
.main .title {
  font-size: 2rem;
  align-self: center;
}
.create_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  text-align: left;
}
.create_form label {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.create_form input[type="text"],
.create_form textarea {
  font-weight: 600;
  width: 100%;
  padding: 12px;
  margin-top: 0.6%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.6%;
  font-size: 1.2rem;
  border: 1.6px solid white;
  border-radius: 6px;
  background-color: transparent;
  resize: vertical;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.create_form input[type="datetime-local"] {
  width: 20%;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 10px;
}
.create_form input:focus,
.create_form textarea:focus {
  border: 2px solid transparent;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
}
.create_form .btn {
  text-align: center;
}
.create_form button {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1%;
  padding: 12px 20px;
  cursor: pointer;
  align-self: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.3 ease-in-out;
}
.create_form button:hover {
  box-shadow: 0px 0px 10px white;
  border: 2px solid transparent;
}
.create_form button:active {
  transform: scale(0.97);
}
@media (max-width: 600px) {
  .main {
    width: 90%;
    height: 95%;
    grid-template-rows: 1fr 3fr;
  }
  .main .title {
    font-size: 1rem;
    align-self: center;
  }
  .create_form label {
    font-size: 1rem;
  }
  .create_form input[type="text"],
  .create_form textarea {
    font-size: 0.7rem;
    transition: none;
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    padding: 12px;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 1.2%;
    transition: none;
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
  }
  .create_form input:focus,
  .create_form textarea:focus {
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
  }
  .create_form button {
    font-size:0.9rem;
    font-weight: 600;
    margin-bottom: 0.2%;
    margin-top: 2%;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    transition: none;
  }
  .create_form button:hover {
      box-shadow: 0px 0px 10px white;
  }
  .create_form button:active {
    transform: scale(0.97);
  }
}
@media (min-width: 600px) and (max-width: 830px) {
  .main .title {
    font-size: 1.15rem;
  }

  .create_form label {
    font-size: 0.9rem;
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 0.9rem;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    font-size: 0.9rem;
    margin-top: 0.5%;
    margin-bottom: 1%;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
  }
  .create_form button {
    font-size: 1rem;
    margin-bottom: 0.5%;
    border: 2px solid white;
    padding: 12px 20px;
    border-radius: 10px;
  }
  .create_form input:focus,
  .create_form textarea:focus {
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
  }
  .create_form button:hover {
    box-shadow: 0px 0px 10px white;
    border: 2px solid transparent;
  }
}
@media (min-width: 830px) and (max-width: 1030px) {
  .main .title {
    font-size: 1.6rem;
  }

  .create_form label {
    font-size: 1.1rem;
  }

  .create_form input[type="text"],
  .create_form textarea {
    font-size: 1.1rem;
    border: 2px solid white;
  }
  .create_form input[type="datetime-local"] {
    width: 25%;
    font-size: 1.1rem;
    margin-bottom: 0.5%;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
  }

  .create_form button {
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 10px;
  }
  .create_form button:hover {
    box-shadow: 0px 0px 10px white;
    border: 2px solid transparent;
  }
  .create_form input:focus,
  .create_form textarea:focus {
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
  }
}
